// Specific CSS for your home-page
.banner-header {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  border-radius: 5px;
}
.banner-casa {
  background-size: 80%;
  background-position: top -15% right -96px;
  padding: 20px 0px 70px 0px;
  background-repeat: no-repeat;
  height: 500px;
}

.banner-header h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 50px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.cards-home {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}
.cards-home-bis {
  display: grid;
  grid-template-columns: 33.33% 33.33%;
  grid-gap: 16px;
}

.splithouse {
  font-size: 40px;
  color: #6b705c;
  text-align: center;
  margin: 15px;
}
.splithouse-bis {
  color: #6b705c;
  text-align: center;
}

.p-sci {
  font-size: 20px;
  color: #6b705c;
  margin: 0;
  text-align: center;
}

.p-faq {
  font-size: 18px;
  margin: 20px 20px 20px 0px;
  color: $SH-almond;
  padding: 0;
}

.btn-faq {
  text-align: center;
  position: relative;
  top: -25px;
  width: 50%;
}

.cards-place {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
}

.card-category {
  height: 350px;
  border-radius: 5px;
  color: white;
  background-size: cover;
}

.btn-banner {
width: 30% !important;
padding: 15px;
margin: 80px 0px 0px 20px;
border-radius: 30px;

}

.background-casa {
  background-color: $SH-blue;
}


.btn.btn-primary.sh-btn-primary {
  width: 100%;
  opacity: 90%;
  font-weight: bold;
  border: 0;
  background-color: $SH-lilac;
  transition: all 125ms ease;

  &:hover {
    background-color: $SH-pink;
  }
}

.card {

}
.sh-property-card {
  border-radius: 10px;
  .card-text {
    padding: 0;
  }
  img.card-img-top.sh-card-img {
    height: 230px;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
  }
  .card-body {
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

}
.container-carousel {
  scroll-snap-type: x mandatory;
  scroll-padding: 50%;
}

.child-carousel {
  scroll-snap-align: center;
}


.card-advantage {
  border-radius: 5px;
  background-color: $SH-blue;
  color: $SH-almond;
}

.sci-info {
  margin: 80px;
}

.btn-index-house {
background-color: $SH-azure  !important;
margin: 30px;
justify-content: center;

&:hover {
  background-color: $SH-blue !important;
}
}

.btn-contact {
  background-color: $SH-blue !important;
  border: 0;
  width: 25%;
}

.catalogue {
  text-align: right;
  margin-bottom: 50px;
}

.btn-environ {
  background-color: $SH-pink;
    border: 0px;
    width: 100%;

  &:hover {
    background-color: $SH-blue !important;
  }
  }

.sci-info-mere {
  background-size: cover;
  padding: 30px 50px 30px 50px;
  font-size: large;
}












// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards-home {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards-home {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards-home {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards-home {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards-home {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.gallery {
  display: flex;
  overflow-x: scroll;
  scroll-padding: 0 50%;
  scroll-snap-type: x mandatory;
  }

.gallery > div {
  scroll-snap-align: center;
  display: inline-block;
  border-radius: 3px;
  margin-right: 3rem;
  }
