#list li {
  display: inline;
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 0 0 15px 15px;
  background: #59D4D4;
  transition: background 0.3s ease;
  height: 85px;
  font-size: 25px;
  font-family: 'Nunito';
  &:hover {
  background: #46536C;
  color: white;
}
}

.btn-pink {
  border: none;
  background: pink;
}

.card {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}


.card-trip h1 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: #46536C;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
  color: #46536C;
}

.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

p {
  color: #46536C;
}

h1 {
  margin-left: 10px;
  color: #46536C;
}

.flex-container {
  margin-left:30px;
}

.flex-container1 {
  display: flex;
  justify-content: space-between;
  width: 70%;
  flex-direction: column;
  margin-top: 0;
}

.flex-container3 {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-top: 0;
  padding: 0 20px;

}

#carouselExampleIndicators {
  width: 100%;
}

.property-info-details {
  width: 25%;
  height: 100px;
  border: none;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  h2 {
    font-size: 19px;
    color: #46536C;
  }
  p {
    padding: 0;
    font-weight: bold;
    font-size: 18px;
    color: #46536C;
  }
  p.notbold {
    font-weight: unset;
    font-size:14px;
    color: #46536C;
  }
}

.btn-position-form {
  width: 100%;
  height: max-content;
}

.a-propos {
  border-radius: 15px 15px 0 0;
}
.carousel-item img {
  width: 100%;
  // object-fit: contain;
  height: 300px;
}

input[type=range] {
  height: 25px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
  background-color: transparent;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  //animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #FFD365;
  border-radius: 1px;
  border: 0px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #FFD365;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #FFECBC;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #FFD365;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  //animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #FFD365;
  border-radius: 1px;
  border: 0px solid #000000;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #FFD365;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #FFECBC;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  //animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #FFD365;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-fill-upper {
  background: #FFD365;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #FFD365;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background:#FFECBC;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #FFD365;
}
input[type=range]:focus::-ms-fill-upper {
  background: #FFD365;
}

#outline {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
    border-radius: 15px 15px 0 0;
}
.sticky-simulation {
  position: sticky;
  top: 10px;
  margin-top: 20px;
}

.card-trip-infos {
  background-color: transparent;
}

.btn-danger {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  transition: background 0.3s ease;
  width: 100px;
  font-size: 30px;
  font-family: 'Nunito';
  background-color:  #f77398ff;
  border: none;
  height: 90px;
  padding-top: 20px;
  margin: 20px;
}
.btn-heart {
  position: absolute;
  right: 15px;
  top: -30px;
  //z-index: 2;
  background-color: transparent;
  padding: 0;
  margin: 0;
  transition: all 125ms ease;
  &:hover {
    opacity: 1;
    background: transparent;
  }
}


.btn-danger:hover  {
  // background: #F4C2C2;
  // color: white;
  border: none;
  opacity: 1;
}
.btn-heart img {
  height: 50px;
}

.text-area {
  width:470px;
}

.btn-secondary {
  background: #59D4D4;
  border-radius: 4px;
  border: none;
}
.btn-secondary:hover {
  background: #D1F3F3;
  color: white;
  border: none;
}

.modal-content {
  border-radius: 20px;
  &.bg-yellow {
    background-color: #FFECBC;
  }
}
// .btn-primary {
//   border-radius: 4px;
//   border: none;
//   // background-color: #46536C;
// }
// .btn-primary:hover {
//   // background: #F4C2C2;
//   color: white;
//   border: none;
// }

.modal-header {
  border-bottom: 0 none;
}

.modal-footer {
  border-top: 0 none;
}
.flex-container2 {
  // display: flex;
  // justify-content: space-between;
  position: relative;
  .property-first-image {
    width: 100%;
    height: 70vh;
    object-fit: cover;
    border-radius:10px;
  }
}

.map-show-view {
  margin: 0;
  margin-bottom: 40px;
  border-radius: 15px 15px 15px 15px;
}

.property-part-left-show {
  color: $SH-pink;
  background: white;
  padding: 5px 10px;
  border-radius: 20px;
  border: solid 1px $SH-pink;
}

#sticky {
  position: sticky;
}



.card1 {
  border: solid;
  border-color: grey;
  border-radius: 10px;
  margin-top: 40px;
  background-color: white;
}

.property-show-detail {
  align-items: center;
  margin-bottom: 10px;
  position: relative;
  i.fas.fa-map-marker-alt {
    font-size: 20px;
  }
  p {
    margin: 0;
  }
}
.property-info-details {
  border-left: solid;
  border-left-color: grey;

}

.property-info-details:first-child {
  border-left: none;
}

.carousel-inner {
  border-radius: 10px;
}

.fas {
  color:#46536C;
  font-size: 30px;
}

h3 {
  padding-left: 55px;
}

h1 {
  margin-top: 20px;
}

.modal-backdrop.show {
  opacity: 0.3;
}

li {
  font-style:italic;
}

.italics {
  margin-top: 20px;
}


.avoid-clicks {
  pointer-events: none;
}

.prix {
  margin-top: 20px;
  margin-bottom: 20px;
}

.montant {
  margin-top: 20px;
}

.info {
  margin-top: 20px;
}
