<div class="card text-center">
  <div class="card-header">
    Featured
  </div>
  <div class="card-body" id="range_start">
  <div id="booking-form-div" id="range_end">
     data-bookings="<%= @bookings_dates.to_json %>">
  </div>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
  <div class="card-footer text-muted">
    2 days ago
  </div>
</div>
