.property-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
  width: 80%;
  margin: auto;
  height: 350px;
  border-radius: 5px;
}

.property-card img {
  width: 100%;
  height: 75%;
  object-fit: cover;
  border-radius: 5px;
}
