.property-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 4rem;
  width: 90%;
  margin: auto;
  height: auto;
  border-radius: 5px;
  margin-bottom: 100px;
}

.property-card .carousel-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.property-card {
  border-radius: 10px;
  overflow: hidden;
  height: auto;
}

.property-card_parts {
  position: absolute;
  top: 0;
  z-index: 1;
  font-size: 12px;
  background-color: $SH-pink;
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
}

.property-card_remaining {
  position: absolute;
  right: 0;
  z-index: 1;
  font-size: 12px;
  background-color: white;
  padding: 5px;
  margin: 5px;
  opacity: 0.7;
  border-radius: 10px;
}

.property-card-image {
  position: relative;
}

.property-card-title {
margin-top: 10px;
margin-left: 8px;
color: $SH-blue;
min-height: 45px;
font-weight: bolder;
}

.property-card-body {
  opacity: 0.8;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.btn-decouvrir {
  width: 60%;
  background-color: $SH-blue;
  border: none;
  &:hover {
    background-color: $SH-pink;
  }
}

.property-card-text {
  padding-left: 8px;
  font-size: 15px;
  p {
    font-size: 14px;
    i {
      font-size: 18px;
      width: 30px;
      padding: 2px;
    }
  }
}

.btn-heart-card {
  position: absolute;
  right: 10px;
  bottom: 10px;
  z-index: 2;
  background-color: transparent;
  padding: 0;
  margin: 0;
  transition: all 125ms ease;
  &:hover {
    opacity: 1;
    background: transparent;
  }
  &.btn-heart-70 {
    opacity: 0.7;
  }
  &.btn-heart-pop {
    animation: 125ms pop_fade;
  }
  img {
    height: 35px;
  }
}


@keyframes pop_fade {
  from {
    transform: scale(1.2);
  }

  to {
    transform: scale(1);
  }
}
