.simple-calendar {

  .day {}

  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {

  }
  .past {}
  .future {}

  .start-date {
    background-color: aqua;
  }

  .prev-month {}
  .next-month { }
  .current-month {}

  .has-events {}
}

.flex-container-dashboard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: normal;
  align-items: stretch;
  align-content: stretch;

  .flex-items-dashboard  {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
  }

}
