:root {
  --primary: black;
  --light: #687477;
  --black: black;
  --secondary: #FBE0C3;
}

body {
<<<<<<< HEAD
  //overflow: hidden;
=======
>>>>>>> 50c92883faa87fee0b0b58bbf16893ac95c0011d
  font-family: 'Multi', sans-serif;
  font-weight: 300;
  color: var(--primary);
}

a:hover {
  text-decoration: none;
}

.bg-primary {
  background-color: var(--primary) !important;
}

.btn {
  border: 1;
}

.btn-primary {
  background-color: var(--secondary);
}

.bg-mix {background: linear-gradient(180deg, var(--light) 60%, var(--primary) 0);}

.btn-primary :hover {
  background-color: var(--light);
}

#sidebar-container {
  min-height: 100vh;
}

#sidebar_container .logo {
  padding: .875rem 1.25rem;
}

#sidebar-container .menu {
  width: 12rem;
}

#content {
  background-color: white;
  color: var(--primary);
  overflow: auto;
  height: 100vh;
  width: 100%;
  padding-bottom: 5rem;
  padding-top: 2rem;
}

.row-1 {
  box-shadow: #687477 1px 1px 1px 1px;
  border-radius: 5px;
}

.stat {
  border-right: 1px solid var(--light);
}
