.image-card-property-dashboard {
  width: 20rem;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-property-dashboard {
  width: 100%;
  margin: 5px 10px 5px 10px;
  border-radius: 10px;
  background-color: white;
}
