.image-card-property-dashboard {
  margin-top: 5%;
  width: 50%;
  height: 150px;
  object-fit: cover;
}

.card-property-dashboard {
  width: 100%;
  margin: 5px 10px 5px 10px;
  border-radius: 10px;
  background-color: white;
}
