.image-card-property-dashboard {
  width: 20vh;
  height: 20vh;
  background-color: $SH-blue-light;
  border-radius: 5rem;
}

.card-property-dashboard {
  width: 18rem;
  margin: 5px 10px 5px 10px;
  border-radius: 10px;
}
